.container {
    text-align: center;
    background: black;
}
.container div{
    display: inline-block;
    font-size: 150px;
    line-height: normal;
    background-color: #101010;
    margin: 20px;
    color: white;
    padding: 10px;
}
